<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivekrai.vivekraivaluetainment.valuetainment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/valuetainment"
        android:label="@string/app_name"
        android:roundIcon="@drawable/valuetainment"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Terms"
            android:label="Terms"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BooksActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".WebActivity"></activity>
    </application>

</manifest>